.hero {
    padding-top: 100px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--text-color);

    .hero-left {
        flex: 1;
        min-width: 300px;
        text-align: center;
        padding: 20px;

        .subtitle {
            font-size: 1.2rem;
            color: var(--secondary-color);
        }

        .main-title {
            font-size: 3rem;
            color: var(--heading-color);
            margin: 10px 0;
        }

        .introduction {
            margin-top: 30px;

            .hero-text {
                p {
                    line-height: 1.8;
                }
            }

            .hero-btn {
                margin-top: 30px;

                .btn {
                    margin: 0 10px;
                }
            }
        }
    }

    .hero-right {
        flex: 1;
        min-width: 300px;
        text-align: center;
        padding: 20px;

        .hero-img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
            box-shadow: var(--shadow-color) 0px 8px 24px;
        }
    }
}
