.line-container{
    width: 200px;
    position: relative;
    margin: 0 auto;
    .line{
        width: 100%;
        height: 4px;
        background: $primaryColor4;
    }
    .circle{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: $primaryColor4;
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }
}