.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;

    .line {
        width: 100px;
        height: 2px;
        background-color: var(--primary-color);
        margin: 0 10px;
    }

    .circle {
        width: 10px;
        height: 10px;
        background-color: var(--primary-color);
        border-radius: 50%;
    }
}
