.services {
    padding: 80px 0;
    background-color: var(--card-background-color);
    color: var(--text-color);

    .text-header {
        color: var(--heading-color);
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .service-content {
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;

        .service-left {
            flex: 1;
            min-width: 300px;
            padding: 20px;
            text-align: center;

            .service-title {
                color: var(--secondary-color);
                font-size: 1.8rem;
            }

            .service-text {
                line-height: 1.8;
                margin-top: 20px;
            }
        }

        .service-right {
            flex: 1;
            min-width: 300px;
            padding: 20px;

            .service-container {
                display: flex;
                align-items: center;
                background-color: var(--background-color);
                box-shadow: var(--shadow-color) 0px 8px 24px;
                border-radius: 10px;
                padding: 20px;
                margin-bottom: 20px;

                div {
                    flex: 1;

                    h5 {
                        color: var(--heading-color);
                        font-size: 1.5rem;
                    }

                    p {
                        color: var(--text-color);
                        margin: 0;
                    }
                }

                .service-icon {
                    font-size: 3rem;
                    color: var(--primary-color);
                    margin-left: 20px;
                }
            }
        }
    }
}
