.subtitle{
    color: #eee;
    letter-spacing: 2px;
}
.subtitle2{
    color: #eee;
    letter-spacing: 2px;
}
.main-title{
    font-size: 65px;
    color: $primaryColor1;
    letter-spacing: 2px;
    margin: 1.2rem 0;
}
.text-header{
    color:$primaryColor1;
    letter-spacing: 2px;
}
.text-content{
    color: $primaryColor4;
}